.home-agency {
 margin-top: 60px;
 @include mobile {
  margin-top: 40px;
 }

 .main-wrapper {
  padding-left: 30px;
  position: relative;
  @include mobile {
   padding-left: 0;
  }
  &:after {
   @extend .grey-line;
   content: '';
   height: calc(100% + 80px);
   top: -40px;
   right: -57px;
   @include tablet-mobile {
    display: none;
   }
  }
 }
}

.home-agency__title {
 padding-right: 600px;
 @include tablet {
  padding-right: 200px;
 }
 @include mobile {
  padding-right: 0;
 }
}

.home-agency-list {
 display: flex;
 flex-wrap: wrap;
 margin-top: 52px;
 @include tablet-mobile {
  flex-direction: column;
 }
}

.home-agency-item {
 width: 510px;
 display: flex;
 align-items: flex-start;
 margin: 0 60px 40px 0;
 @include tablet {
  margin: 0 0 60px;
 }
 @include mobile {
  width: 100%;
  margin: 0 0 40px;
 }
 &:nth-child(2n+2) {
  margin-right: 0;
 }

 .home-agency-item__icon {
  width: 101px;
  height: 101px;
  margin-right: 23px;
  @include mobile {
   width: 60px;
   height: 60px;
   margin-right: 18px;
  }
 }

 .home-agency-item__content {
  flex: 1;
 }

 .home-agency-item__title {

 }
 .home-agency-item__text {
  color: rgba(55,55,55,0.6);
  margin-top: 20px;
  @include mobile {
   margin-top: 10px;
  }
 }
}

.home-agency-btn-layout {
 display: flex;
 align-items: center;
 justify-content: center;
 margin-top: 10px;
}