.home-clients {
 margin-top: -232px;
 @include tablet {
  margin-top: -10px;
 }
 @include mobile {
  margin-top: 60px;
 }
}

.home-clients-intro {
 width: 360px;
 padding-left: 30px;
 position: relative;
 @include mobile {
  width: 100%;
  padding-left: 0;
 }
 &:before {
  @extend .grey-line;
  content: '';
  height: 212px;
  position: absolute;
  top: 80px;
  left: 0;
  @include mobile {
   display: none;
  }
 }
}

.home-clients-box {
 width: calc(100% + 50vw - 555px);
 background-color: #373737;
 padding: 76px 71px 84px calc(50vw - 555px);
 margin-top: 141px;
 position: relative;
 left: calc(555px - 50vw);
 @include tablet {
  width: calc(100% + 50vw - 355px);
  padding: 64px 62px 72px calc(50vw - 355px);
  left: calc(355px - 50vw);
  margin-top: 100px;
 }
 @include mobile {
  width: 100%;
  padding: 50px 30px 55px;
  left: 0;
  margin-top: 60px;
 }
 &:before {
  @extend .orange-circle;
  content: '';
  position: absolute;
  top: -276px;
  right: -371px;
  z-index: -1;
  @include tablet {
   top: -200px;
   right: -240px;
  }
  @include mobile {
   display: none;
  }
 }
}

.home-clients-list {

}

.home-clients-item-layout {
 display: none;

 &.home-clients-item-layout--active {
  display: block;
 }
}

.home-clients-item {
 display: flex;
 align-items: flex-start;
 @include mobile {
  flex-direction: column;
 }

 .home-clients-item__left {
  width: 350px;
  padding-top: 260px;
  margin-right: 120px;
  position: relative;
  @include tablet {
   width: 210px;
   padding-top: 120px;
   margin-right: 60px;
  }
  @include mobile {
   width: 100%;
   padding-top: 90px;
   margin: 0 0 40px;
  }
 }
 .home-clients-item__right {
  flex: 1;
  padding-bottom: 125px;
  @include tablet {
   padding-bottom: 100px;
  }
  @include mobile {
   padding-bottom: 40px;
  }
 }

 .home-clients-item__photo {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  background: no-repeat center / cover;
  position: absolute;
  top: -160px;
  left: 0;
  @include tablet {
   width: 210px;
   height: 210px;
   top: -120px;
  }
  @include mobile {
   width: 140px;
   height: 140px;
   top: -80px;
   left: calc(50% - 70px);
  }
  &:before {
   content: '';
   width: 360px;
   height: 360px;
   border-radius: 50%;
   border: 3px solid #f37321;
   position: absolute;
   top: calc(50% - 180px);
   left: calc(50% - 180px);
   @include tablet {
    width: 220px;
    height: 220px;
    top: calc(50% - 110px);
    left: calc(50% - 110px);
   }
   @include mobile {
    width: 146px;
    height: 146px;
    top: calc(50% - 73px);
    left: calc(50% - 73px);
   }
  }
 }

 .home-clients-item__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 65px;
  @include tablet-mobile {
   padding-left: 0;
  }
  @include mobile {
   align-items: center;
   text-align: center;
  }
 }

 .home-clients-item__name {

 }
 .home-clients-item__position {
  margin-top: 8px;
  @include tablet-mobile {
   font-size: 14px;
  }
  @include tablet {
   margin-top: 6px;
  }
  @include mobile {
   margin-top: 0;
  }
 }

 .home-clients-item__link {
  display: block;
  margin-top: 17px;
  @include mobile {
   margin-top: 12px;
  }
 }

 .home-clients-item__title {

 }
 .home-clients-item__text {
  color: rgba(255,255,255,0.8);
  margin-top: 20px;
 }
}


.home-clients-nav {
 width: 570px;
 display: flex;
 position: absolute;
 bottom: 62px;
 right: 65px;
 @include tablet {
  width: 640px;
 }
 @include mobile {
  width: 100%;
  flex-direction: column;
  position: static;
 }
}

.home-clients-nav-item {
 width: 33.3%;
 display: flex;
 align-items: center;
 padding-right: 20px;
 opacity: 0.6;
 transition: 0.5s;
 cursor: pointer;
 @include mobile {
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
 }
 &:hover {
  opacity: 1;
 }
 &:last-child {
  @include mobile {
   margin-bottom:  0;
  }
 }

 .home-clients-nav-item__photo {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background: no-repeat center / cover;
  margin-right: 15px;
  position: relative;
  &:before {
   content: '';
   width: 70px;
   height: 70px;
   border-radius: 50%;
   border: 1px solid #f37321;
   position: absolute;
   top: calc(50% - 35px);
   left: calc(50% - 35px);
   opacity: 0;
   transition: 0.5s;
  }
 }
 .home-clients-nav-item__name {
  color: #ffffff;
  font-size: 13px;
  line-height: 16px;
 }

 &.home-clients-nav-item--active {
  opacity: 1;

  .home-clients-nav-item__photo {
   &:before {
    opacity: 1;
   }
  }
 }
}