.home-numbers {
 background: url(../img/home/numbers/home-numbers-bg.svg) no-repeat center / cover;
 padding: 11px 0;
 margin-top: 60px;
}

.home-numbers-list {
 display: flex;
 align-items: flex-start;
 justify-content: space-between;
}

.home-numbers-item {
 text-align: center;

 h2 {
  color: #ffffff;
  font-size: 80px;
  font-weight: 300;
  line-height: 80px;
 }
 h3 {
  color: #ffffff;
  font-size: 26px;
  font-weight: 500;
  line-height: 33px;
 }
 h4 {
  opacity: 0.7;
  color: #ffffff;
  font-size: 13px;
  margin-top: 4px;
 }
}