section.contacts
  .main-wrapper
    .contacts__left
      h3.contacts__subtitle.subtitle Our studio
      h2.contacts__title.title-2.title-line Contact Us
      p.contacts__text If you have a specific request that need to be estimated or implemented by us, please start with a <a target="_blank" href="#">short brief</a>. In cast of any other questions, use a form or contacts below.
      ul.contacts-list
        li.contacts-list__item
          .contacts-list__item-icon(style="background-image: url(img/common/skype-icon.svg)")
          a(target="_blank" href="skype:V.PODMURNYI?call").subtitle.contacts-list__item-text V.PODMURNYI
        li.contacts-list__item
          .contacts-list__item-icon(style="background-image: url(img/common/email-icon.svg)")
          a(target="_blank" href="mailto:INFO@VISARTECH.COM").subtitle.contacts-list__item-text INFO@VISARTECH.COM
        li.contacts-list__item
          .contacts-list__item-icon(style="background-image: url(img/common/pin-icon.svg)")
          a(target="_blank" href="https://goo.gl/maps/GfnkwLPwLXT2").subtitle.contacts-list__item-text 8 THE GREEN SUITE #7877 DOVER, DE 19901
    .contacts__right
      form.contacts-form
        .contacts-formgroup
          input(type="text" placeholder="YOUR NAME")
        .contacts-formgroup
          input(type="email" placeholder="EMAIL ADDRESS")
        .contacts-formgroup
          input(type="text" placeholder="SUBJECT")
        .contacts-formgroup
          select
            option(disabled selected) INDUSTRY
            option INDUSTRY
            option INDUSTRY
            option INDUSTRY
        .contacts-formgroup
          input(type="text" placeholder="MESSAGE")
        button(type="submit").contacts-form__submit.btn.btn--md
          span SEND MESSAGE
