.fill-brief
  h2.fill-brief__title.text-white.title-4 Want to create your own? Start with a short brief
  .fill-brief__btn.btn.btn--md.btn--white(onclick="showPopup('#popup-brief');")
    span FILL THE BRIEF

include popups/popup-brief.jade