footer.main-footer
  .main-wrapper
    .main-footer-top
      a(href="/").main-footer-logo
      .main-footer-socials
        a(href="#").main-footer-socials__item.main-footer-socials__item--lin
        a(href="#").main-footer-socials__item.main-footer-socials__item--fb
        a(href="#").main-footer-socials__item.main-footer-socials__item--tw
        a(href="#").main-footer-socials__item.main-footer-socials__item--in
    .main-footer-bottom
      p.main-footer-text Game changing innovations for you and the world
      .main-header-menu
        a(href="#").main-header-menu__item.main-header-menu__item--active Home
        a(href="#").main-header-menu__item About
        a(href="#").main-header-menu__item Team
        a(href="#").main-header-menu__item Projects
        a(href="#").main-header-menu__item Blog
        a(href="#").main-header-menu__item Contact Us

include scripts.jade
