footer.main-footer
  .main-wrapper
    .main-footer-top
      a(href="/").main-footer-logo
      .main-footer-socials
        a(href="#").main-footer-socials__item.main-footer-socials__item--lin
        a(href="#").main-footer-socials__item.main-footer-socials__item--fb
        a(href="#").main-footer-socials__item.main-footer-socials__item--tw
        a(href="#").main-footer-socials__item.main-footer-socials__item--in
    .main-footer-bottom
      p.main-footer-text Game changing innovations for you and the world
      ul.main-header-menu
        li.main-header-menu__item.main-header-menu__item--active
          a(href="#").main-header-menu__item-link Home
        li.main-header-menu__item
          a(href="#").main-header-menu__item-link About
        li.main-header-menu__item
          a(href="#").main-header-menu__item-link Team
        li.main-header-menu__item
          a(href="#").main-header-menu__item-link Projects
        li.main-header-menu__item
          a(href="#").main-header-menu__item-link Blog
        li.main-header-menu__item
          a(href="#").main-header-menu__item-link Contact Us


include up-btn.jade
include popups/spinner.jade
include popups/popup-exit.jade
include scripts.jade
