header.main-header
  .main-wrapper
    a(href="/").main-header__logo
    .main-header-menu
      a(href="#").main-header-menu__item.main-header-menu__item--active Home
      a(href="#").main-header-menu__item About
      a(href="#").main-header-menu__item Team
      a(href="#").main-header-menu__item Projects
      a(href="#").main-header-menu__item Blog
      a(href="#").main-header-menu__item Contact Us

