header.main-header
  .main-wrapper
    a(href="/").main-header__logo
    include header-menu
    .hamburger.hamburger--vortex.js-hamburger
      .hamburger-box
        .hamburger-inner


script.
  $(function() {
    $('.main-header-submenu__item').hover(function () {
      $('.main-header-submenu__item-name').css({opacity: 1, marginTop: '8px'});
    }, function () {
      $('.main-header-submenu__item-name').css({opacity: 0, marginTop: '-24px'});
    });

    // hamburger toggle
    $('.hamburger').click(function(){
      $(this).toggleClass('is-active');
      $('.main-header-menu-layout').slideToggle(400);
    });
  });