.single-aside
  .single-categories.orange-box
    form.search
      .search__icon
      input.search__input(type="search" placeholder="Find everything in the VisarTech Lab")
      button(type="submit").search__btn Search
    h2.single-categories__title.title-4.text-white Categories
    .single-categories-list
      a(href="#").single-categories-list__item.single-categories-list__item--active All
      a(href="#").single-categories-list__item Мath and physics
      a(href="#").single-categories-list__item Mobile games and applications
      a(href="#").single-categories-list__item Simulations
      a(href="#").single-categories-list__item VR/AR experience
      a(href="#").single-categories-list__item Other

  .single-recent
    h2.single-recent__title.title-3 Recent posts
    .single-recent-list
      a(href="#").single-recent-item
        .single-recent-item__thumb(style="background-image: url(img/single/single-image.jpg)")
        .single-recent-item__content
          h3.single-recent-item__date 24 Apr 2018
          h2.single-recent-item__title New physical simulations by visartech
      a(href="#").single-recent-item
        .single-recent-item__thumb(style="background-image: url(img/single/single-image.jpg)")
        .single-recent-item__content
          h3.single-recent-item__date 24 Apr 2018
          h2.single-recent-item__title New physical simulations by visartech
      a(href="#").single-recent-item
        .single-recent-item__thumb(style="background-image: url(img/single/single-image.jpg)")
        .single-recent-item__content
          h3.single-recent-item__date 24 Apr 2018
          h2.single-recent-item__title New physical simulations by visartech
      a(href="#").single-recent-item
        .single-recent-item__thumb(style="background-image: url(img/single/single-image.jpg)")
        .single-recent-item__content
          h3.single-recent-item__date 24 Apr 2018
          h2.single-recent-item__title New physical simulations by visartech
