#about {

}

.about-row-1, .about-row-2 {
 display: flex;
 justify-content: space-between;
 padding: 0 65px 0 30px;
 @include tablet-mobile {
  flex-direction: column;
 }
 @include mobile {
  padding: 0;
 }

 .about-row-1__left, .about-row-2__left {
  width: 415px;
  @include tablet-mobile {
   width: 100%;
  }
 }
 .about-row-1__right, .about-row-2__right {
  width: 570px;
  @include tablet-mobile {
   width: 100%;
  }
 }
}

.about-entry {
 position: relative;
 &:before {
  @extend .grey-line;
  content: '';
  height: calc(100% - 18px);
  top: 9px;
  left: 0;
  @include mobile {
   left: -24px;
  }
 }
}

.about-row-1 {
 align-items: flex-start;

 .about-row-1__text {
  margin-top: 10px;
 }

 .about-row-1__right {
  @include tablet {
   margin-top: 40px;
  }
  @include mobile {
   margin-top: 20px;
  }
 }
}

.about-row-2 {
 align-items: flex-end;
 margin-top: 40px;
 @include mobile {
  margin-top: 20px;
 }

 .about-row-2__box {
  width: calc(50vw + 80px);
  padding: 40px calc(50vw - 555px + 65px) 30px 65px;
  @include mobile {
   width: 100%;
   padding: 30px 40px;
  }
 }

 .about-row-2__subtitle {
  &:before {
   background: #fff;
  }
 }

 .about-row-2__text {
  margin-top: 20px;
  @include mobile {
   font-size: 14px;
   line-height: 20px;
   margin-top: 10px;
  }
 }

 .about-row-2__left {
  @include tablet-mobile {
   order: 2;
   margin-top: 40px;
  }
 }
 .about-row-2__right {
  @include tablet-mobile {
   order: 1;
  }
 }
}


.about-vision {
 margin-top: 60px;
 @include mobile {
  margin-top: 40px;
 }
}

.about-vision-list {

}

.about-vision-item {
 display: flex;
 align-items: flex-start;
 padding-right: 95px;
 margin-bottom: 40px;
 @include tablet-mobile {
  padding-right: 0;
 }
 @include mobile {
  flex-wrap: wrap;
 }
 &:last-child {
  margin-bottom: 0;
 }

 .about-vision-item__number {
  width: 110px;
  color: rgba(55,55,55,0.2);
  font-size: 120px;
  font-weight: 300;
  line-height: 120px;
  text-align: right;
  margin-right: 45px;
  @include tablet-mobile {
   width: 50px;
   font-size: 80px;
   line-height: 80px;
   margin-right: 20px;
  }
 }
 .about-vision-item__content {
  flex: 1;
  padding-top: 10px;
  margin-right: 100px;
  @include tablet {
   margin-right: 50px;
  }
  @include mobile {
   margin: 0;
  }

  > p {
   margin-top: 20px;
  }
 }
 .about-vision-item__icon {
  width: 154px;
  height: 154px;
  background: no-repeat center / contain;
  margin-top: 55px;
  @include tablet {
   width: 100px;
   height: 100px;
   margin-top: 90px;
  }
  @include mobile {
   display: none;
  }
 }
}


.about-faq {
 padding-left: 30px;
 margin-top: 50px;
 position: relative;
 @include mobile {
  padding-left: 0;
 }
 &:before {
  @extend .grey-line;
  content: '';
  height: calc(100% - 45px);
  top: 2px;
  left: 0;
  @include mobile {
   height: calc(100% - 20px);
   left: -24px;
  }
 }
}

.about-faq-list {
 padding-left: 35px;
 margin-top: 32px;
 @include tablet-mobile {
  padding-left: 0;
 }
}

.about-faq-item {
 display: flex;
 align-items: flex-start;
 padding: 18px 60px 18px 30px;
 transition: 0.5s;
 position: relative;
 cursor: pointer;
 @include mobile {
  flex-direction: column;
  padding: 18px 30px;
 }
 &:before {
  content: '';
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background: url(../img/about/faq-item-plus-icon.svg) no-repeat center / contain;
  position: absolute;
  top: 22px;
  right: 20px;
  transition: 0.5s;
 }

 .about-faq-item__number {
  width: 60px;
  color: #f37321;
  font-size: 26px;
  font-weight: 700;
  line-height: 33px;
  text-align: left;
 }

 .about-faq-item__content {
  flex: 1;
  @include mobile {
   margin-top: 10px;
  }
 }

 .about-faq-item__title {
  @extend .title-4;
  transition: 0.5s;
 }
 .about-faq-item__text {
  display: none;
  color: rgba(255,255,255,0.6);
  padding-right: 290px;
  margin-top: 20px;
  @include tablet-mobile {
   padding-right: 0;
  }
 }

 &.about-faq-item--active {
  background-color: #373737;
  &:before {
   background-image: url(../img/about/faq-item-minus-icon.svg);
  }

  .about-faq-item__title {
   color: #ffffff;
  }
  .about-faq-item__text {
   display: block;
  }
 }
}