#blog {
 padding-top: 70px;
 @include mobile {
  padding-top: 40px;
 }
}

#blog, #single {

 > .main-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;

  .grey-line {
   bottom: -40px;
   right: -57px;
   @include tablet-mobile {
    display: none;
   }
  }
 }
}

.blog-main {
 width: 730px;
 @include tablet-mobile {
  width: 100%;
 }
}

.blog-list {
 margin-top: 40px;
}

.blog-item {
 min-height: 360px;
 display: flex;
 background: #373737;
 margin-bottom: 20px;
 position: relative;
 top: 40px;
 opacity: 0;
 transition: 0.7s;
 @include mobile {
  flex-direction: column;
 }
 &:last-child {
  margin-bottom: 0;
 }

 .blog-item__thumb {
  width: 315px;
  background: no-repeat center / cover;
  transition: 0.5s;
  @include mobile {
   width: 100%;
   height: 160px;
  }
  &:hover {
   opacity: 0.8;
  }
 }

 .blog-item__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px 65px 30px 35px;
  @include mobile {
   padding: 15px 30px 25px;
  }
 }

 .blog-item__date {
  color: rgba(255,255,255,0.6);
  font-size: 16px;
  line-height: 29px;
 }
 .blog-item__title {
  margin-top: 6px;
 }
 .blog-item__text {
  flex: 1;
  color: rgba(255,255,255,0.8);
  margin-top: 20px;
 }
 .blog-item__btn {
  color: #ffffff;
  margin-top: 30px;
 }

 &.blog-item--fade-in {
  opacity: 1;
  top: 0;
 }
}


.blog-more-layout {
 width: 100%;
 margin-top: 70px;
 @include mobile {
  margin-top: 40px;
 }
}
.blog-more {
 margin: 0 auto;
}

.blog-loading-layout {
 width: 100%;
 display: none;
 margin-top: 70px;
 @include mobile {
  margin-top: 40px;
 }
}
.blog-loading {
 width: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
 color: #373737;
 font-size: 21px;
 font-weight: 700;
 text-transform: uppercase;
 text-align: center;
 letter-spacing: 1.3px;
 @include mobile {
  font-size: 15px;
  letter-spacing: 1.2px;
 }

 .blog-loading__icon {
  width: 20px;
  height: 20px;
  background: url(../img/common/refresh-icon.svg) no-repeat center / contain;
  margin: 0 0 0 15px;
  animation: spin 3s linear infinite;
  @include mobile {
   width: 16px;
   height: 16px;
   margin-left: 10px;
  }
 }
}

@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
