#single {
 padding-top: 70px;
 @include mobile {
  padding-top: 40px;
 }

 .main-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
 }
}

.single-main {
 width: 665px;
}
.single-aside {
 width: 350px;
 @include tablet-mobile {
  display: none;
 }
}

.single-date {
 margin-top: 20px;
}

.single-content {
 margin-top: 45px;
 @include mobile {
  margin-top: 30px;
 }

 p, h2, h3, h4, h5, h6, ul, ol {
  padding-left: 65px;
  margin: 20px 0;
  @include mobile {
   padding-left: 0;
   margin: 15px 0;
  }
 }
 li {
  margin: 20px 0;
  position: relative;
  @include mobile {
   margin: 15px 0;
  }
  &:before {
   content: '';
   width: 10px;
   height: 10px;
   border-radius: 50%;
   border: 2px solid #f37321;
   background-color: #ffffff;
   position: absolute;
   top: 5px;
   left: -20px;
   @include mobile {
    width: 8px;
    height: 8px;
    top: 6px;
    left: -16px;
   }
  }
 }

 img, iframe {
  max-width: 100%;
  height: auto;
  margin: 20px 0;
  @include mobile {
   margin: 15px 0;
  }
 }

 h1 {
  @extend .title-line;
  font-size: 40px;
  font-weight: 700;
  padding-top: 18px;
  margin-top: 50px;
  @include tablet {
   font-size: 36px;
   padding-top: 16px;
   margin-top: 40px;
  }
  @include mobile {
   font-size: 26px;
   padding-top: 12px;
   margin-top: 30px;
  }
 }
 h2, h3, h4, h5, h6 {
  font-weight: 500;
 }
 h2 {
  font-size: 1.6em;
 }
 h3 {
  font-size: 1.4em;
 }
 h4 {
  font-size: 1.2em;
 }
 h6 {
  font-size: 0.8em;
 }
}

.single-categories {
 width: calc(50vw - 205px);
 padding: 64px 30px 30px 60px;
 margin-top: 57px;

 .search {
  width: 100%;
  position: absolute;
  top: -43px;
  left: 0;
 }
}

.single-categories-list {
 margin-top: 15px;

 .single-categories-list__item {
  display: block;
  color: rgba(255,255,255,0.6);
  font-size: 16px;
  line-height: 19px;
  padding: 7px 0;
  position: relative;
  &:hover, &.single-categories-list__item--active {
   color: #fff;
  }

  &.single-categories-list__item--active {
   &:before {
    content: '';
    width: 5px;
    height: 100%;
    background: #fff;
    position: absolute;
    top: 0;
    left: -30px;
   }
  }
 }
}


.single-recent {
 margin-top: 50px;
}

.single-recent-list {
 margin-top: 33px;
}

.single-recent-item {
 display: flex;
 align-items: flex-start;
 margin-bottom: 20px;
 &:hover {

  .single-recent-item__thumb {
   opacity: 0.8;
  }
 }
 &:last-child {
  margin-bottom: 0;
 }

 .single-recent-item__thumb {
  width: 160px;
  height: 120px;
  background: no-repeat center / cover;
  transition: 0.5s;
 }

 .single-recent-item__content {
  flex: 1;
  padding-top: 10px;
  margin-left: 30px;
 }

 .single-recent-item__date {
  color: rgba(55, 55, 55, 0.6);
  font-size: 13px;
 }
 .single-recent-item__title {
  color: #373737;
  font-size: 17px;
  font-weight: 700;
  line-height: 25px;
  margin-top: 8px;
  transition: 0.5s;
 }
}