extends ../layouts/main

block contents
  section.intro.intro--about(style="background-image: url(img/common/intro-bg.jpg)")
    .main-wrapper
      include ../partials/header
      .intro-main
        h2.intro-main__subtitle.subtitle.text-white Who we are
        h1.intro-main__title.title.title-line.text-white Our Story
        p.intro-main__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
      .link-smooth.intro-next(data-href=".main")

  .main#about
    .main-wrapper
      .about-entry
        .about-row-1
          .about-row-1__left
            h2.about-row-1__title.title-2.title-line Lorem ipsum<br> dolor sit amet.
          .about-row-1__right
            h3.subtitle-2.about-row-1__subtitle Headline
            p.about-row-1__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Lorem ipsum dolor sit amet.

        .about-row-2
          .about-row-2__left
            h2.about-row-2__title.title-2.title-line Our Vision
          .about-row-2__right
            .about-row-2__box.orange-box
              h3.about-row-2__subtitle.title-2.title-line.text-white Our Mission
              p.about-row-2__text.title-4.text-white Game changing innovations<br> for you and the world

      .about-vision
        ul.about-vision-list
          li.about-vision-item
            h2.about-vision-item__number 1
            .about-vision-item__content
              h2.title-4 How virtual trainings<br> and simulations help education
              p The thing that is most exciting about studying the universe is also the most frustrating and that is that no matter how expert we get, we are always just getting started. But if it’s any consolation, some of the most advanced minds in science and from history always felt that way about space. Even the greats such as Copernicus and Einstein looked up into space and felt like thpeople. But more than that it is as though this is what we were created to do.
            .icon-outline.about-vision-item__icon(style="background-image: url(img/about/about-icon-1.svg)")
          li.about-vision-item
            h2.about-vision-item__number 2
            .about-vision-item__content
              h2.title-4 How virtual trainings<br> and simulations help education
              p The thing that is most exciting about studying the universe is also the most frustrating and that is that no matter how expert we get, we are always just getting started. But if it’s any consolation, some of the most advanced minds in science and from history always felt that way about space. Even the greats such as Copernicus and Einstein looked up into space and felt like thpeople. But more than that it is as though this is what we were created to do.
            .icon-outline.about-vision-item__icon(style="background-image: url(img/about/about-icon-2.svg)")
          li.about-vision-item
            h2.about-vision-item__number 3
            .about-vision-item__content
              h2.title-4 How virtual trainings<br> and simulations help education
              p The thing that is most exciting about studying the universe is also the most frustrating and that is that no matter how expert we get, we are always just getting started. But if it’s any consolation, some of the most advanced minds in science and from history always felt that way about space. Even the greats such as Copernicus and Einstein looked up into space and felt like thpeople. But more than that it is as though this is what we were created to do.
            .icon-outline.about-vision-item__icon(style="background-image: url(img/about/about-icon-3.svg)")

      .about-faq
        h2.about-faq__title.title-2.title-line FAQ
        ul.about-faq-list
          li.about-faq-item.about-faq-item--active
            h3.about-faq-item__number 01.
            .about-faq-item__content
              h2.about-faq-item__title An Ugly Myspace Profile Will Sure Ruin Your Reputation
              p.about-faq-item__text The thing that is most exciting about studying the universe is also the most frustrating and that is that no matter how expert we get, we are always just getting started. But if it’s any consolation, some of the most advanced minds in science and from history always felt that way about space. Even the greats such as Copernicus and Einstein looked up into space and felt like thpeople. But more than that it is as though this is what we were created to do.
          li.about-faq-item
            h3.about-faq-item__number 01.
            .about-faq-item__content
              h2.about-faq-item__title Steps In Installing Rack Mount Lcd Monitors
              p.about-faq-item__text The thing that is most exciting about studying the universe is also the most frustrating and that is that no matter how expert we get, we are always just getting started. But if it’s any consolation, some of the most advanced minds in science and from history always felt that way about space. Even the greats such as Copernicus and Einstein looked up into space and felt like thpeople. But more than that it is as though this is what we were created to do.
          li.about-faq-item
            h3.about-faq-item__number 01.
            .about-faq-item__content
              h2.about-faq-item__title Steps In Installing Rack Mount Lcd Monitors
              p.about-faq-item__text The thing that is most exciting about studying the universe is also the most frustrating and that is that no matter how expert we get, we are always just getting started. But if it’s any consolation, some of the most advanced minds in science and from history always felt that way about space. Even the greats such as Copernicus and Einstein looked up into space and felt like thpeople. But more than that it is as though this is what we were created to do.
          li.about-faq-item
            h3.about-faq-item__number 01.
            .about-faq-item__content
              h2.about-faq-item__title Steps In Installing Rack Mount Lcd Monitors
              p.about-faq-item__text The thing that is most exciting about studying the universe is also the most frustrating and that is that no matter how expert we get, we are always just getting started. But if it’s any consolation, some of the most advanced minds in science and from history always felt that way about space. Even the greats such as Copernicus and Einstein looked up into space and felt like thpeople. But more than that it is as though this is what we were created to do.
          li.about-faq-item
            h3.about-faq-item__number 01.
            .about-faq-item__content
              h2.about-faq-item__title Steps In Installing Rack Mount Lcd Monitors
              p.about-faq-item__text The thing that is most exciting about studying the universe is also the most frustrating and that is that no matter how expert we get, we are always just getting started. But if it’s any consolation, some of the most advanced minds in science and from history always felt that way about space. Even the greats such as Copernicus and Einstein looked up into space and felt like thpeople. But more than that it is as though this is what we were created to do.

  include ../partials/footer

  script.
    $(function(){
      $('.about-faq-item').click(function(){
        if($(this).hasClass('about-faq-item--active')) {
          faqActiveSlideUp();
        } else {
          faqActiveSlideUp();
          $(this).find('.about-faq-item__text').slideDown(300, function () {
            $(this).closest('.about-faq-item').addClass('about-faq-item--active');
          });
        }
      });
    })

    function faqActiveSlideUp() {
      $('.about-faq-item--active').find('.about-faq-item__text').slideUp(300, function () {
        $('.about-faq-item--active').removeClass('about-faq-item--active');
      });
    }