extends ../layouts/main

block contents
  include ../partials/header

  main.main#blog
    .main-wrapper
      .blog-main
        h3.subtitle Visartech
        h1.title.title-line Blog

        .blog-list
          .blog-item
            a(href="#" style="background-image: url(img/single/single-image.jpg)").blog-item__thumb
            .blog-item__content
              h3.blog-item__date 24 Apr 2018
              h2.title-4.text-white.blog-item__title Explore virtual reality with Visartech
              p.blog-item__text Did you know, that here in VISARTECH we create not only games and apps, but also Physical Simulations! Check our latest educational simulations: Archimedean Principle Simulation Pendulum Simulation
              a(href="#").btn-arrow.blog-item__btn READ MORE
          .blog-item
            a(href="#" style="background-image: url(img/single/single-image.jpg)").blog-item__thumb
            .blog-item__content
              h3.blog-item__date 24 Apr 2018
              h2.title-4.text-white.blog-item__title Explore virtual reality with Visartech
              p.blog-item__text Did you know, that here in VISARTECH we create not only games and apps, but also Physical Simulations! Check our latest educational simulations: Archimedean Principle Simulation Pendulum Simulation
              a(href="#").btn-arrow.blog-item__btn READ MORE
          .blog-item
            a(href="#" style="background-image: url(img/single/single-image.jpg)").blog-item__thumb
            .blog-item__content
              h3.blog-item__date 24 Apr 2018
              h2.title-4.text-white.blog-item__title Explore virtual reality with Visartech
              p.blog-item__text Did you know, that here in VISARTECH we create not only games and apps, but also Physical Simulations! Check our latest educational simulations: Archimedean Principle Simulation Pendulum Simulation
              a(href="#").btn-arrow.blog-item__btn READ MORE
          .blog-item
            a(href="#" style="background-image: url(img/single/single-image.jpg)").blog-item__thumb
            .blog-item__content
              h3.blog-item__date 24 Apr 2018
              h2.title-4.text-white.blog-item__title Explore virtual reality with Visartech
              p.blog-item__text Did you know, that here in VISARTECH we create not only games and apps, but also Physical Simulations! Check our latest educational simulations: Archimedean Principle Simulation Pendulum Simulation
              a(href="#").btn-arrow.blog-item__btn READ MORE


      include ../partials/single-aside

      .blog-more-layout
        button.btn.blog-more SHOW MORE


  include ../partials/footer
