extends ../layouts/main

block contents
  .error-404
    h1.error-404__title 404
    .error-404-cat
    p.error-404__text return on <a>Main Page</a>, check our awesome <a>Projects</a> or <a>Contact</a> us via form.
