extends ../layouts/main

block contents
  section.intro.intro--about(style="background-image: url(img/common/intro-bg.jpg)")
    .main-wrapper
      include ../partials/header
      .intro-main
        h2.intro-main__subtitle.subtitle.text-white Welcome
        h1.intro-main__title.title.title-line.text-white Open our world<br> of visual training<br> and simulations
        .intro-main__video-btn(onclick="playShowreel();")
          .intro-main__video-btn-icon
          p.intro-main__video-btn-text PLAY SHOWREEL
      .link-smooth.intro-next(data-href=".main")

  .main#home
    include ../pages-partials/home/benefits
    include ../pages-partials/home/clients
    .main-wrapper
      include ../partials/fill-brief
    include ../pages-partials/home/agency
    include ../pages-partials/home/numbers
    include ../pages-partials/home/projects
    include ../pages-partials/home/socials
    include ../partials/contacts

  include ../partials/footer
  include ../partials/popups/popup-showreel

  script.
    $(function(){
      var $window = $(window);
      var $benefitsCol1 = $('.home-benefits-col--1');
      var $benefitsCol2 = $('.home-benefits-col--2');
      var $benefitsCol2Square = $('.home-benefits-col--2 .home-benefits-col__square');
      var $socialsCol2 = $('.home-socials-col--2');
      var $socialsCol3 = $('.home-socials-col--3');
      if ($window.width() > 1240) {
        $window.scroll(function () {
          $benefitsCol1.css({top: $window.scrollTop() / 20});
          $benefitsCol2.css({top: -($window.scrollTop() / 20)});

          $benefitsCol2Square.css({top: ($window.scrollTop() / 10 - 100)});

          $socialsCol2.css({top: -($window.scrollTop() / 20) + 220});
          $socialsCol3.css({top: $window.scrollTop() / 20 - 220});
        });
      }
    });