extends ../layouts/main

block contents
  #projects-header
    include ../partials/header

  .main#projects
    .main-wrapper
      h3.subtitle Visartech
      h1.title.title-line Projects

      ul.projects-list
        .projects-item
          .projects-item__thumb(style="background-image: url(img/projects/projects-thumb-1.jpg)")
          .projects-item__content
            h2.projects-item__title.title-2 Archimedes Principle Simulation
            h3.projects-item__tags.subtitle
              | Simulations
              br
              | Oculus Rift
              br
              | HTC Vive
            a(href="/project.html").btn-arrow.projects-item__btn
              span READ MORE
        .projects-item
          .projects-item__thumb(style="background-image: url(img/projects/projects-thumb-1.jpg)")
          .projects-item__content
            h2.projects-item__title.title-2 Chat VR
            h3.projects-item__tags.subtitle
              | Simulations
              br
              | Oculus Rift
              br
              | HTC Vive
            a(href="/project.html").btn-arrow.projects-item__btn
              span READ MORE
        .projects-item
          .projects-item__thumb(style="background-image: url(img/projects/projects-thumb-1.jpg)")
          .projects-item__content
            h2.projects-item__title.title-2 Archimedes Principle Simulation
            h3.projects-item__tags.subtitle
              | Simulations
              br
              | Oculus Rift
              br
              | HTC Vive
            a(href="/project.html").btn-arrow.projects-item__btn
              span READ MORE

  include ../partials/contacts

  include ../partials/footer
