extends ../layouts/main

block contents
  section.intro.intro--project
    .main-wrapper
      include ../partials/scroll-white
      include ../partials/header
      .intro-thumb
        .intro-thumb__image(style="background-image: url(img/common/intro-bg.jpg)")
      .intro-main
        .intro-main__content
          h2.intro-main__subtitle.subtitle.text-white Simulations / Oculus Rift / HTC Vive
          h1.intro-main__title.title.title-line.text-white Archimedes Principle Simulation
        .intro-main-overview
          .intro-main-overview__col
            h2.intro-main-overview__title.subtitle Project overview
            ul.intro-main-overview__list
              li.intro-main-overview__item
                h3.intro-main-overview__item-title Location
                .intro-main-overview__item-text
                  .intro-main-overview__item-text-icon(style="background-image: url(img/project/pin-icon.svg)")
                  p USA
              li.intro-main-overview__item
                h3.intro-main-overview__item-title Industry
                .intro-main-overview__item-text
                  .intro-main-overview__item-text-icon(style="background-image: url(img/common/clock-icon.svg)")
                  p Energy&Utilities
              li.intro-main-overview__item
                h3.intro-main-overview__item-title Partnership Period
                .intro-main-overview__item-text
                  .intro-main-overview__item-text-icon(style="background-image: url(img/common/clock-icon.svg)")
                  p 4+ years
          .intro-main-overview__col
            ul.intro-main-overview__list
              li.intro-main-overview__item
                h3.intro-main-overview__item-title Team size
                .intro-main-overview__item-text
                  .intro-main-overview__item-text-icon(style="background-image: url(img/project/team-icon.svg)")
                  p 8 people
              li.intro-main-overview__item
                h3.intro-main-overview__item-title Team location
                .intro-main-overview__item-text
                  .intro-main-overview__item-text-icon(style="background-image: url(img/project/team-location-icon.svg)")
                  p USA, Ukraine
              li.intro-main-overview__item
                h3.intro-main-overview__item-title Services
                .intro-main-overview__item-text
                  .intro-main-overview__item-text-icon(style="background-image: url(img/project/services-icon.svg)")
                  p Dedicated Development Team
          .intro-main-overview__col
            ul.intro-main-overview__list
              li.intro-main-overview__item
                h3.intro-main-overview__item-title Expertise
                .intro-main-overview__item-text
                  .intro-main-overview__item-text-icon(style="background-image: url(img/project/expertise-icon.svg)")
                  p Graphics, Big Data, Cloud Solutions, Cross-Platform development
              li.intro-main-overview__item
                h3.intro-main-overview__item-title Technologies
                .intro-main-overview__item-text
                  .intro-main-overview__item-text-icon(style="background-image: url(img/project/technologies-icon.svg)")
                  p Unity3d, .Net CORE, 3d Max, Photoshop
      .link-smooth.intro-next(data-href=".main")

  .main#project
    .main-wrapper
      .project-entry
        .project-description
          .project-row-1
            .project-row-1__left
              h2.project-row-1__title.title-2.title-line About Client
            .project-row-1__right
              .project-row-1__text SkyTrak provides entertaining technology solutions to avid sports enthusiasts for game improvement. The biggest focus is a golf indoor and outdoor trainings. SkyTrak offers golf launch monitor and all required software.

          .project-row-1
            .project-row-1__left
              h2.project-row-1__title.title-2.title-line Business Challenge
            .project-row-1__right
              .project-row-1__text There are plenty of golf launch monitors on the market. The main idea was to distinguish from competitors by showing great ball trajectory tracking accuracy, fast and smooth experience for provided software. SkyTrak required strong and reliable software development partner in order to implement the highest possible quality standards.

          .project-row-1
            .project-row-1__left
              h2.project-row-1__title.title-2.title-line Project Description
            .project-row-1__right
              p.project-row-1__text
                | SkyTrak requires software layer to give end-users ability to use SkyTrak launch monitor properly. Client has network of existing partners which use own software solutions together with SkyTrak launch monitor. But SkyTrak decide to implement own solution as well.
                br
                br
                | Core idea is to give users the best possible experience while training golf skills using SkyTrak launch monitor.

          .project-row-1
            .project-row-1__left
              h2.project-row-1__title.title-2.title-line Value delivered by Visartech
            .project-row-1__right
              .project-row-1__text
                ol
                  li Developed SkyTrak Software, a platform, where golf players able to use SkyTrak launch monitor and their shot activity using variety of tools.
                  li Re-Developed, from the ground, existing mathematical model for shot trajectory calculation inside software.

          .project-row-1
            .project-row-1__left
              h2.project-row-1__title.title-2.title-line Development Challenges
            .project-row-1__right
              .project-row-1__text
                | Visartech started development process, not from the ground. SkyTrak already had first version of its software and it was released to end users on the market. Main challenges were:
                br
                br
                ol
                  li Understand golf and golf rules for the development team;
                  li Understand existing software architecture;
                  li Understand current problems;
                  li Without ruining end-users experience start re-shaping of the entire solution based on Client’s vision;
                  li Gather vast amount of end-users generated shots data and present it back to users as a set of charts and tables, which can help them in training process;

          .project-row-1
            .project-row-1__left
              h2.project-row-1__title.title-2.title-line Development Process
            .project-row-1__right
              .project-row-1__text From the very beginning Visartech started with Agile methodology. Solid approach supported with specialized software like JIRA, Slack helped to improve release pace and stabilize delivery process.

          .project-row-1
            .project-row-1__left
              h2.project-row-1__title.title-2.title-line Value delivered by Visartech
            .project-row-1__right
              .project-row-1__text
                | Explain each value point above in details here!
                br
                br
                | Visartech dedicated development team has boosted the client’s engineering capabilities and helped them to deliver value to the end-users faster.

      .about-timeline
        h2.about-timeline__title.title-2.title-line Project Evolution
        ul.about-timeline-list
          li.about-timeline-item
            .about-timeline-item__content
              h2.about-timeline-item__title Start point, buggy software
              h3.about-timeline-item__date 2014 Q1
              p.about-timeline-item__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt numquam fugiat, vitae facere. Provident odio saepe iure, commodi doloribus architecto.
            .about-timeline-item__icon(style="background-image: url(img/common/clock-icon.svg)")
          li.about-timeline-item
            .about-timeline-item__content
              h2.about-timeline-item__title Software stabilized, almost no bugs
              h3.about-timeline-item__date 2014 Q3
            .about-timeline-item__icon(style="background-image: url(img/common/comments-icon.svg)")
          li.about-timeline-item
            .about-timeline-item__content
              h2.about-timeline-item__title v.2.0.0 released, no bugs, new design etc.
              h3.about-timeline-item__date 2015 Q1
            .about-timeline-item__icon(style="background-image: url(img/common/comments-icon.svg)")
          li.about-timeline-item
            .about-timeline-item__content
              h2.about-timeline-item__title Award for the best golf sim.
              h3.about-timeline-item__date 2015 Q2
            .about-timeline-item__icon(style="background-image: url(img/common/comments-icon.svg)")



      .project-video
        img(src="img/common/intro-bg.jpg")

      .project-author
        .project-author-name
          h2.text-white.title-4 Name Surname
          h3.text-white Position
        .project-author-image(style="background-image: url(img/project/project-author.jpg)")
        .project-author-about
          h2.title-3.text-white Lorem ipsum dolor amet elit.
          p.text-white Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

        include ../partials/fill-brief

    include ../partials/contacts


  include ../partials/footer
