extends ../layouts/main

block contents
  section.intro.intro--team(style="background-image: url(img/common/intro-bg.jpg)")
    .main-wrapper
      include ../partials/scroll-white
      #team-header
        include ../partials/header
      .intro-main
        h2.intro-main__subtitle.subtitle.text-white Visartech
        h1.intro-main__title.title.title-line.text-white Team
        p.intro-main__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.

  .main#team
    .main-wrapper
      .team-list
        .team-item(style="background-image: url(img/team/team-item-1.jpg)")
          .team-item__block
            h2.team-item__name Name Surname
            h3.team-item__position CO-FOUNDER/DEVELOPER
            p.team-item__about Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
        .team-item(style="background-image: url(img/team/team-item-1.jpg)")
          .team-item__block
            h2.team-item__name Name Surname
            h3.team-item__position CO-FOUNDER/DEVELOPER
            p.team-item__about Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
        .team-item(style="background-image: url(img/team/team-item-1.jpg)")
          .team-item__block
            h2.team-item__name Name Surname
            h3.team-item__position CO-FOUNDER/DEVELOPER
            p.team-item__about Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
        .team-item(style="background-image: url(img/team/team-item-1.jpg)")
          .team-item__block
            h2.team-item__name Name Surname
            h3.team-item__position CO-FOUNDER/DEVELOPER
            p.team-item__about Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.

  include ../partials/footer
