#popup-brief.popup-layout.popup-layout--white
  .popup-scrollarea
    .popup.popup-brief
      .popup__close
      iframe(src='https://docs.google.com/forms/d/e/1FAIpQLSfU_rMfBx8MOecRwb6R_B3aF2-jcrRl3E6cNScQt9DJKsN-UQ/viewform?embedded=true', width='980', height='3563', frameborder='0', marginheight='0', marginwidth='0') Загрузка...