#spinner.popup-layout.popup-layout--white(style="display: block;")
  .popup-scrollarea
    .fulfilling-square-spinner
      .spinner-inner

script.
  $(function(){
    setTimeout(function(){
      $('#spinner').fadeOut(500);
    }, 2000);
  });