section.home-agency
  .main-wrapper
    h3.home-agency__subtitle.subtitle Agency
    h2.home-agency__title.title-2.title-line Why Visartech<br> are different from others?

    ul.home-agency-list
      li.home-agency-item
        .home-agency-item__icon.icon-outline(style="background-image: url(img/home/agency/home-agency-item-1.svg)")
        .home-agency-item__content
          h2.title-4.home-agency-item__title Research then development
          p.home-agency-item__text Firstly we explore market to identify needs and trends relevant to your business.
      li.home-agency-item
        .home-agency-item__icon.icon-outline(style="background-image: url(img/home/agency/home-agency-item-2.svg)")
        .home-agency-item__content
          h2.title-4.home-agency-item__title Trendy technology stack
          p.home-agency-item__text We are always use trends and a new approach to provide up-to-market solutions that would start help from the first launch.
      li.home-agency-item
        .home-agency-item__icon.icon-outline(style="background-image: url(img/home/agency/home-agency-item-3.svg)")
        .home-agency-item__content
          h2.title-4.home-agency-item__title Full customization
          p.home-agency-item__text Instead of other companies which provide closed architecture products, every our solutions are unit and match your needs in full.
      li.home-agency-item
        .home-agency-item__icon.icon-outline(style="background-image: url(img/home/agency/home-agency-item-4.svg)")
        .home-agency-item__content
          h2.title-4.home-agency-item__title Consultancy and Support
          p.home-agency-item__text Sharing is caring! We are building trust and long-time relationships with our customers, and always ready to consult, help and support in any questions you have during and after the project.

    .home-agency-btn-layout
      a(href="#").btn.home-agency-btn
        span KNOW MORE
