section.home-benefits
  .main-wrapper
    .home-benefits__left
      h3.home-benefits__subtitle.subtitle Benefits
      h2.home-benefits__title.title-2.title-line How virtual training and simulations help your business?
      .home-benefits__image(style="background-image: url(img/home/benefits/home-benefits-image.jpg)")
      .home-benefits-box
        h2.text-white.title-4.home-benefits-box__title Reduce costs and risks
        p.text-white.home-benefits-box__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation  commodo consequat.
        a(href="#").home-benefits-box__btn.btn.btn--white.btn--md
          span READ MORE
    .home-benefits__right
      .home-benefits-col.home-benefits-col--1
        ul.home-benefits-list
          li.home-benefits-item
            h3.subtitle.home-benefits-item__number 01
            .home-benefits-item__icon
              .icon-outline(style="background-image: url(img/home/benefits/home-benefits-icon-1.svg)")
            h2.title-4.home-benefits-item__title Reduce costs and risks
            p.home-benefits-item__text Regardless of the type of the business: healthcare or Heavy Equipment, simulations always help to realize any goals that you are planned.
          li.home-benefits-item
            h3.subtitle.home-benefits-item__number 03
            .home-benefits-item__icon
              .icon-outline(style="background-image: url(img/home/benefits/home-benefits-icon-3.svg)")
            h2.title-4.home-benefits-item__title Learn on Work easy and fast
            p.home-benefits-item__text Ability to access the training and learn complex procedures any time, even during the job process.
          li.home-benefits-item
            h3.subtitle.home-benefits-item__number 05
            .home-benefits-item__icon
              .icon-outline(style="background-image: url(img/home/benefits/home-benefits-icon-5.svg)")
            h2.title-4.home-benefits-item__title Remember longer and decide better
            p.home-benefits-item__text Instead of reading manuals or watching tutorials, your employers could start using their knowledge from a start.
      .home-benefits-col.home-benefits-col--2
        ul.home-benefits-list
          li.home-benefits-item
            h3.subtitle.home-benefits-item__number 02
            .home-benefits-item__icon
              .icon-outline(style="background-image: url(img/home/benefits/home-benefits-icon-2.svg)")
            h2.title-4.home-benefits-item__title Improve job performance
            p.home-benefits-item__text Train your employers virtually to find and avoid 98,2% possible errors during the real work.
          li.home-benefits-item
            h3.subtitle.home-benefits-item__number 04
            .home-benefits-item__icon
              .icon-outline(style="background-image: url(img/home/benefits/home-benefits-icon-4.svg)")
            h2.title-4.home-benefits-item__title Engage collaborative working
            p.home-benefits-item__text Virtual trainings gain engagement and help do built strong work environment
          li.home-benefits-item
            h3.subtitle.home-benefits-item__number 06
            .home-benefits-item__icon
              .icon-outline(style="background-image: url(img/home/benefits/home-benefits-icon-6.svg)")
            h2.title-4.home-benefits-item__title Meet your challenges
            p.home-benefits-item__text Regardless of the type of the business: healthcare or Heavy Equipment, simulations always help to realize any goals that you are planned.

