section.home-numbers
  .main-wrapper
    ul.home-numbers-list
      li.home-numbers-item
        h2 4
        h3.title-4 years of experience
        h4
      li.home-numbers-item
        h2 30+
        h3.title-4 successful releases
        h4
      li.home-numbers-item
        h2 99,9%
        h3.title-4 satisfaction rate
        h4 * we excluded 0,1% because nobody is perfect!
