section.home-projects
  .main-wrapper
    .home-projects-intro
      h3.subtitle Work
      h1.title-2.title-line Project Portfolio

    ul.projects-list
      .projects-item
        .projects-item__thumb(style="background-image: url(img/projects/projects-thumb-1.jpg)")
        .projects-item__content
          h2.projects-item__title.title-2 Archimedes Principle Simulation
          h3.projects-item__tags.subtitle
            | Simulations
            br
            | Oculus Rift
            br
            | HTC Vive
          a(href="#").btn-arrow.projects-item__btn
            span READ MORE
      .projects-item
        .projects-item__thumb(style="background-image: url(img/projects/projects-thumb-1.jpg)")
        .projects-item__content
          h2.projects-item__title.title-2 Chat VR
          h3.projects-item__tags.subtitle
            | Simulations
            br
            | Oculus Rift
            br
            | HTC Vive
          a(href="#").btn-arrow.projects-item__btn
            span READ MORE
      .projects-item
        .projects-item__thumb(style="background-image: url(img/projects/projects-thumb-1.jpg)")
        .projects-item__content
          h2.projects-item__title.title-2 Archimedes Principle Simulation
          h3.projects-item__tags.subtitle
            | Simulations
            br
            | Oculus Rift
            br
            | HTC Vive
          a(href="#").btn-arrow.projects-item__btn
            span READ MORE

    .projects-btn-layout
      a(href="#").btn.btn--white.projects-btn
        span SEE ALL