section.home-socials
  .main-wrapper
    .home-socials-intro
      h3.subtitle Social Media
      h1.title-2.title-line Latest from Us
    .home-socials-col.home-socials-col--1
      ul.home-socials-list
        li.home-socials-item(style="background-image: url(img/home/socials/home-socials-item.jpg)")
          .home-socials-item__icon(style="background-image: url(img/common/book-icon.svg)")
          h3.home-socials-item__date 24 Apr 2018
          p.home-socials-item__text Did you know, that here in VISARTECH we create not only games and apps, but also Physical Simulations! Check our latest educational simulations: Archimedean Principle Simulation Pendulum… <a href="#">READ MORE</a>
          ul.home-socials-item__info
            li.home-socials-item__info-item.home-socials-item__info-item--comments
              .home-socials-item__info-item-icon
              p.home-socials-item__info-item-text 10
            li.home-socials-item__info-item.home-socials-item__info-item--likes
              .home-socials-item__info-item-icon
              p.home-socials-item__info-item-text 10
    .home-socials-col.home-socials-col--2
      ul.home-socials-list
        li.home-socials-item(style="background-image: url(img/home/socials/home-socials-item.jpg)")
          .home-socials-item__icon(style="background-image: url(img/common/fb-icon.svg)")
          h3.home-socials-item__date 24 Apr 2018
          p.home-socials-item__text Did you know, that here in VISARTECH we create not only games and apps, but also Physical Simulations! Check our latest educational simulations: Archimedean Principle Simulation Pendulum… <a href="#">READ MORE</a>
          ul.home-socials-item__info
            li.home-socials-item__info-item.home-socials-item__info-item--comments
              .home-socials-item__info-item-icon
              p.home-socials-item__info-item-text 10
            li.home-socials-item__info-item.home-socials-item__info-item--likes
              .home-socials-item__info-item-icon
              p.home-socials-item__info-item-text 10
        li.home-socials-item(style="background-image: url(img/home/socials/home-socials-item.jpg)")
          .home-socials-item__icon(style="background-image: url(img/common/in-icon.svg)")
          h3.home-socials-item__date 24 Apr 2018
          p.home-socials-item__text Did you know, that here in VISARTECH we create not only games and apps, but also Physical Simulations! Check our latest educational simulations: Archimedean Principle Simulation Pendulum… <a href="#">READ MORE</a>
          ul.home-socials-item__info
            li.home-socials-item__info-item.home-socials-item__info-item--comments
              .home-socials-item__info-item-icon
              p.home-socials-item__info-item-text 10
            li.home-socials-item__info-item.home-socials-item__info-item--likes
              .home-socials-item__info-item-icon
              p.home-socials-item__info-item-text 10
    .home-socials-col.home-socials-col--3
      ul.home-socials-list
        li.home-socials-item(style="background-image: url(img/home/socials/home-socials-item.jpg)")
          .home-socials-item__icon(style="background-image: url(img/common/tw-icon.svg)")
          h3.home-socials-item__date 24 Apr 2018
          p.home-socials-item__text Did you know, that here in VISARTECH we create not only games and apps, but also Physical Simulations! Check our latest educational simulations: Archimedean Principle Simulation Pendulum… <a href="#">READ MORE</a>
          ul.home-socials-item__info
            li.home-socials-item__info-item.home-socials-item__info-item--comments
              .home-socials-item__info-item-icon
              p.home-socials-item__info-item-text 10
            li.home-socials-item__info-item.home-socials-item__info-item--likes
              .home-socials-item__info-item-icon
              p.home-socials-item__info-item-text 10
        li.home-socials-item(style="background-image: url(img/home/socials/home-socials-item.jpg)")
          .home-socials-item__icon(style="background-image: url(img/common/lin-icon.svg)")
          h3.home-socials-item__date 24 Apr 2018
          p.home-socials-item__text Did you know, that here in VISARTECH we create not only games and apps, but also Physical Simulations! Check our latest educational simulations: Archimedean Principle Simulation Pendulum… <a href="#">READ MORE</a>
          ul.home-socials-item__info
            li.home-socials-item__info-item.home-socials-item__info-item--comments
              .home-socials-item__info-item-icon
              p.home-socials-item__info-item-text 10
            li.home-socials-item__info-item.home-socials-item__info-item--likes
              .home-socials-item__info-item-icon
              p.home-socials-item__info-item-text 10
