.btn {
 display: block;
 border: 2px solid #373737;
 color: #373737;
 font-size: 17px;
 font-weight: 700;
 text-transform: uppercase;
 text-align: center;
 letter-spacing: 2.14px;
 padding: 27px 62px;
 overflow: hidden;
 position: relative;
 @include mobile {
  font-size: 15px;
  letter-spacing: 1.8px;
  padding: 22px 40px;
 }
 &:before {
  content: '';
  width: 100%;
  height: 100%;
  background: #373737;
  position: absolute;
  top: 0;
  left: -100%;
  transition: 0.7s;
 }
 &:hover {
  color: #fff;
  &:before {
   left: 0;
  }
 }

 span {
  position: relative;
  z-index: 2;
 }

 &.btn--md {
  padding: 27px 25px;
  @include mobile {
   padding: 22px 20px;
  }
 }
 &.btn--white {
  border-color: #fff;
  color: #fff;
  &:before {
   background: #fff;
  }
  &:hover {
   color: #373737;
  }
 }
}

.btn-arrow {
 background: url(../img/common/arrow-right-circle.svg) no-repeat center left;
 color: #373737;
 font-size: 17px;
 font-weight: 700;
 text-transform: uppercase;
 letter-spacing: 2.14px;
 padding: 3px 0 4px 47px;
 transition: 0.5s;
 @include mobile {
  font-size: 15px;
  letter-spacing: 1.8px;
  background-size: 24px;
  padding: 3px 0 4px 35px;
 }
 &:hover {
  color: #f37321;
 }
}

.btn-arrow-2 {
 color: #ffffff;
 font-size: 16px;
 padding-right: 22px;
 position: relative;
 &:before {
  content: '';
  width: 12px;
  height: 12px;
  background: url(../img/common/arrow-right-orange.svg) no-repeat center / contain;
  position: absolute;
  top: calc(50% - 6px);
  right: 0;
  transition: 0.5s;
 }
 &:hover {
  &:before {
   right: -3px;
  }
 }
}