.title {
 font-size: 50px;
 font-weight: 700;
 @include tablet {
  font-size: 42px;
 }
 @include mobile {
  font-size: 32px;
 }

 &.title-line {
  padding-top: 21px;
  @include mobile {
   padding-top: 16px;
  }
 }
}

.title-2 {
 font-size: 40px;
 font-weight: 700;
 @include tablet {
  font-size: 36px;
 }
 @include mobile {
  font-size: 26px;
 }

 &.title-line {
  padding-top: 18px;
  @include mobile {
   padding-top: 14px;
  }
 }
}

.title-3 {
 font-size: 36px;
 font-weight: 700;
 @include tablet {
  font-size: 32px;
 }
 @include mobile {
  font-size: 22px;
 }
}

.title-4 {
 font-size: 26px;
 font-weight: 700;
 line-height: 33px;
 @include tablet {
  font-size: 24px;
  line-height: 30px;
 }
 @include mobile {
  font-size: 18px;
  line-height: 24px;
 }
}

.subtitle {
 color: rgba(55, 55, 55, 0.6);
 font-size: 23px;
 line-height: 29px;
 @include tablet {
  font-size: 18px;
  line-height: 25px;
 }
 @include mobile {
  font-size: 16px;
  line-height: 22px;
 }

 & ~ .title.title-line {
  margin-top: 27px;
  @include tablet {
   margin-top: 24px;
  }
  @include mobile {
   margin-top: 20px;
  }
 }
 & ~ .title-2.title-line {
  margin-top: 22px;
  @include tablet {
   margin-top: 20px;
  }
  @include mobile {
   margin-top: 16px;
  }
 }
}
.subtitle-2 {
 color: rgba(55, 55, 55, 0.4);
 font-size: 16px;
 font-weight: 500;
 text-transform: uppercase;
 @include mobile {
  font-size: 14px;
 }
}

.title-line {
 position: relative;
 &:before {
  content: '';
  width: 52px;
  height: 3px;
  background-color: #f37321;
  position: absolute;
  top: 0;
  left: 0;
 }
}

.text-muted {
 color: rgba(55, 55, 55, 0.6);
}

.text-white {
 color: #fff;
}

.search {
 height: 75px;
 display: flex;
 align-items: center;
 justify-content: flex-start;
 &:hover {

  .search__input {
   width: calc(100% - 47px - 140px);
   padding: 26px 16px;
  }
 }

 .search__icon {
  width: 47px;
  height: 75px;
  background: url(../img/common/search-icon.svg) no-repeat center right / 21px, #373737;
 }

 .search__input {
  width: 0;
  height: 75px;
  background-color: #373737;
  color: #fff;
  font-size: 17px;
  transition: 0.7s;
  &:active, &:focus {
   width: calc(100% - 47px - 140px);
   padding: 26px 16px;
  }

  &:-webkit-autofill {
   -webkit-box-shadow: 0 0 0 30px #373737 inset;
  }
 }

 .search__btn {
  height: 75px;
  background-color: #373737;
  color: #ffffff;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2.14px;
  padding: 0 45px 0 12px;
  outline: none;
  position: relative;
  transition: 0.7s;
  &:before, &:after {
   content: '';
   width: 2px;
   height: 100%;
   background-color: #373737;
   position: absolute;
   top: 0;
  }
  &:before {
   left: -2px;
  }
  &:after {
   right: -2px;
  }
 }
}

.grey-line {
 width: 4px;
 background: rgba(55,55,55,0.3);
 position: absolute;
 @include mobile {
  width: 2px;
 }
}

.orange-box {
 background-color: rgba(243, 115, 33, 0.9);
 position: relative;
 top: 0;
 left: 0;
}

.icon-outline {
 background: no-repeat center / contain;
 position: relative;
 &:before {
  content: '';
  width: 100%;
  height: 100%;
  background: no-repeat center / contain;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../img/common/icon-outline.svg);
  z-index: -1;
  animation: spin 24s linear infinite;
 }
}

@keyframes spin {
 100% {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
 }
}

.orange-circle {
 width: 550px;
 height: 550px;
 background: url(../img/common/orange-circle.svg) no-repeat center / contain;
 animation: spin 36s linear infinite;
 @include tablet {
  width: 420px;
  height: 420px;
 }
}