.main-header {
 flex: 0 0 auto;
 padding: 50px 0 0;
 @include mobile {
  padding-top: 30px;
 }

 .main-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  @include mobile {
   flex-wrap: wrap;
   align-items: center;
  }
 }

 .main-header__logo {
  width: 190px;
  height: 31px;
  display: block;
  background: url(../img/logo.svg) no-repeat center / contain;
  @include mobile {
   width: 120px;
   height: 20px;
   order: 1;
  }
 }
}

.main-header-menu-layout {
 @include mobile {
  order: 3;
  display: none;
 }

 .main-header-menu {
  @include mobile {
   width: 100%;
   background: rgba(243, 115, 33, 0.9);
   padding: 30px 10px 15px;
   margin-top: 20px;
  }

  .main-header-menu__item {
   @include tablet {
    margin-right: 20px;
   }

   .main-header-menu__item-link {
    @include tablet {
     font-size: 14px;
    }
    @include mobile {
     color: #fff;
    }
   }
  }
 }
}

.main-header-menu {
 display: flex;
 align-items: center;
 padding-left: 15px;
 position: relative;
 @include mobile {
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
 }

 .main-header-menu__item {
  margin-right: 35px;
  @include mobile {
   margin: 0 20px 15px;
  }
  &:hover {

   .main-header-menu__item-link {
    color: rgba(55, 55, 55, 0.7);
   }

   //.main-header-submenu-layout {
   // top: 25px;
   // opacity: 1;
   // visibility: visible;
   //}
  }
  &:last-child {
   margin-right: 0;
  }

  .main-header-menu__item-link {
   display: block;
   color: #373737;
   font-size: 17px;
   font-weight: 500;
   position: relative;
   @include mobile {
    font-size: 12px;
   }
  }

  &.main-header-menu__item--active {

   .main-header-menu__item-link:before {
    content: '';
    width: 100%;
    height: 3px;
    background: #f37321;
    position: absolute;
    top: -9px;
    left: 0;
    @include mobile {
     background: #fff;
     height: 2px;
     top: auto;
     bottom: -9px;
    }
   }
  }
 }
}

.main-header-submenu-layout {
 width: calc(100% + 50vw - 555px);
 position: absolute;
 left: 0;
 top: 0;
 opacity: 0;
 visibility: hidden;
 transition: 0.5s;
 z-index: 10;
 @include tablet {
  width: 100%;
 }
 @include mobile {
  display: none;
 }
 &:hover {
  @extend .main-header-submenu-layout-active;
 }
}
.main-header-submenu-layout-active {
 top: 25px;
 opacity: 1;
 visibility: visible;
}

.main-header-submenu {
 display: flex;
 align-items: flex-start;
 background-color: rgba(243, 115, 33, 0.9);
 padding: 0 20px 0 30px;
 margin-top: 25px;
 @include tablet {
  padding: 0 10px;
 }

 .main-header-submenu__item {
  width: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0 0;
  position: relative;
  cursor: pointer;
  @include tablet {
   width: 85px;
  }
  &:last-child {
   padding-right: 0;
   margin-right: 0;
  }

  .main-header-submenu__item-icon {
   width: 32px;
   height: 32px;
   background: no-repeat center;
   margin: 0 auto;
  }

  .main-header-submenu__item-name {
   color: #ffffff;
   font-size: 13px;
   text-align: center;
   padding: 0 10px 30px;
   margin-top: -24px;
   position: relative;
   transition: 0.5s;
   opacity: 0;
  }

  &.main-header-submenu__item--active {

   .main-header-submenu__item-name:before {
    content: '';
    width: 100%;
    height: 6px;
    background: #373737;
    position: absolute;
    left: 0;
    bottom: 0;
   }
  }
 }

 &.main-header-submenu--projects {

  .main-header-submenu__item-name {
   min-height: 45px;
   padding: 0 0 13px;
  }
 }
}


.hamburger {
 display: none;
 order: 2;
 cursor: pointer;
 transition-property: opacity, filter;
 transition-duration: 0.15s;
 transition-timing-function: linear;
 font: inherit;
 color: inherit;
 text-transform: none;
 background-color: transparent;
 border: 0;
 margin: 0;
 overflow: visible;
 @include mobile {
  display: block;
 }
 &:hover {
  opacity: 0.7;
 }
 &.is-active {
  &:hover {
   opacity: 0.7;
  }
  //.hamburger-inner {
  // background-color: #000;
  // &::before, &::after {
  //  background-color: #000;
  // }
  //}
 }
}

.hamburger-box {
 width: 40px;
 height: 24px;
 display: inline-block;
 position: relative;
}

.hamburger-inner {
 display: block;
 top: 50%;
 margin-top: -2px;
 width: 40px;
 height: 4px;
 background-color: #000;
 border-radius: 4px;
 position: absolute;
 transition-property: transform;
 transition-duration: 0.15s;
 transition-timing-function: ease;
 &::before, &::after {
  width: 40px;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
 }
 &::before, &::after {
  content: "";
  display: block;
 }
 &::before {
  top: -10px;
 }
 &::after {
  bottom: -10px;
 }
}

.hamburger--vortex {
 .hamburger-inner {
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  &::before, &::after {
   transition-duration: 0s;
   transition-delay: 0.2s;
   transition-timing-function: linear;
  }
  &::before {
   transition-property: top, opacity;
  }
  &::after {
   transition-property: bottom, transform;
  }
 }
 &.is-active .hamburger-inner {
  transform: rotate(765deg);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  &::before, &::after {
   transition-delay: 0s;
  }
  &::before {
   top: 0;
   opacity: 0;
  }
  &::after {
   bottom: 0;
   transform: rotate(90deg);
  }
 }
}