.intro {
 min-height: 100vh;
 background: no-repeat center / cover, #000;
 position: relative;
 &:before {
  content: '';
  width: 100%;
  height: 117px;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, #000000 100%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
 }
 &:after {
  content: '';
  width: 100%;
  height: 100%;
  background: rgba(55, 55, 55, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
 }

 > .main-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
 }

 .main-header {
  position: relative;
  z-index: 4;

  .main-header__logo {
   background-image: url(../img/logo-white.svg);
  }
 }

 .main-header-menu {

  .main-header-menu__item {
   &:hover {

    .main-header-menu__item-link {
     color: #fff;
    }
   }

   .main-header-menu__item-link {
    color: #fff;
   }

   &.main-header-menu__item--active {

    //.main-header-menu__item-link:before {
    // top: auto;
    // bottom: -9px;
    //}
   }
  }
 }

 .main-header-submenu {

  .main-header-submenu__item {

   &.main-header-submenu__item--active {

    .main-header-submenu__item-name:before {
     background: #fff;
    }
   }
  }
 }

 .hamburger-inner {
  &, &:after, &:before {
   background: #fff;
  }
 }

 //&.intro--about {
 //
 // .title.title-line {
 //  &:before {
 //   width: 137px;
 //  }
 // }
 //}
 //&.intro--team {
 //
 // .title.title-line {
 //  &:before {
 //   width: 106px;
 //  }
 // }
 //}

 &.intro--project {
  &:before, &:after {
   display: none;
  }

  .intro-main {
   flex-direction: row;
   align-items: center;
   padding: 100px 0;
   @include tablet {
    padding: 70px 0;
   }
   @include mobile {
    flex-direction: column;
    padding: 40px 0 80px;
   }
  }
 }
}

.intro-thumb {
 width: 920px;
 height: 552px;
 position: absolute;
 top: calc(50% - 245px);
 left: calc(50% - 460px);
 opacity: 0.6;
 @include tablet {
  width: 720px;
  height: 432px;
  top: calc(50% - 216px);
  left: calc(50% - 360px);
 }
 @include mobile {
  width: 360px;
  height: 216px;
  top: 120px;
  left: calc(50% - 180px);
 }
 &:before {
  content: '';
  width: 152px;
  height: 152px;
  background: rgba(243, 115, 33, 0.9);
  position: absolute;
  bottom: -25px;
  right: -25px;
  z-index: -1;
  @include tablet {
   width: 120px;
   height: 120px;
   bottom: -20px;
   right: -20px;
  }
  @include mobile {
   width: 80px;
   height: 80px;
   bottom: -12px;
   right: -12px;
  }
 }

 .intro-thumb__image {
  width: 100%;
  height: 100%;
  background: no-repeat center / cover;
  position: relative;
 }
}

.intro-main {
 flex: 1;
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 justify-content: center;
 position: relative;
 z-index: 3;
 padding: 80px 0 150px;
 @include mobile {
  padding: 30px 0 80px;
 }

 .intro-main__text {
  width: 540px;
  color: rgba(255,255,255,0.8);
  font-size: 26px;
  line-height: 36px;
  margin-top: 30px;
  @include mobile {
   width: 100%;
   font-size: 18px;
   line-height: 24px;
  }
 }

 .intro-main__content {
  flex: 1;
  padding-right: 190px;
  @include tablet {
   padding-right: 100px;
  }
  @include mobile {
   padding-right: 0;
  }
 }

 .intro-main__video-btn {
  display: flex;
  align-items: center;
  margin-top: 44px;
  cursor: pointer;
  &:hover {

   .intro-main__video-btn-icon {
    transform: scale(1.05);
   }
  }

  .intro-main__video-btn-icon {
   width: 64px;
   height: 64px;
   background: url(../img/common/video-btn-icon.svg) no-repeat center / contain;
   margin-right: 20px;
   transition: 0.7s;
  }
  .intro-main__video-btn-text {
   color: #fff;
   font-size: 17px;
   font-weight: 700;
   text-transform: uppercase;
   letter-spacing: 2.14px;
  }
 }
}

.intro-next {
 width: 32px;
 height: 18px;
 background: url(../img/common/arrow-down.svg) no-repeat center / contain;
 position: absolute;
 bottom: 26px;
 left: calc(50% - 16px);
 z-index: 3;
 transition: 0.5s;
 cursor: pointer;
 animation-name: introNext;
 animation-duration: 4s;
 animation-iteration-count: infinite;
 &:hover {
  bottom: 20px;
 }
}

@keyframes introNext {
 0%   {bottom: 26px;}
 25%   {bottom: 26px;}
 50%  {bottom: 20px;}
 75%  {bottom: 26px;}
 100% {bottom: 26px;}
}

.intro-main-overview {
 width: 285px;
 border: 1px solid #979797;
 background-color: rgba(0, 0, 0, 0.15);
 padding: 20px;
 margin-top: 65px;
 @include mobile {
  width: 100%;
  margin-top: 40px;
 }

 .intro-main-overview__title {
  color: #fff;
 }

 .intro-main-overview__list {
  margin-top: 38px;
 }

 .intro-main-overview__item {
  margin-bottom: 25px;
  &:last-child {
   margin-bottom: 0;
  }

  .intro-main-overview__item-title {
   color: rgba(255,255,255,0.6);
   font-size: 16px;
   font-weight: 500;
  }

  .intro-main-overview__item-text, .intro-main-overview__item-image {
   margin-top: 10px;
  }

  .intro-main-overview__item-text {
   display: flex;
   align-items: flex-start;

   .intro-main-overview__item-text-icon {
    width: 18px;
    height: 18px;
    background: no-repeat center / contain;
    margin: 5px 15px 0 0;
   }

   &, & p {
    color: #ffffff;
    font-size: 23px;
    font-weight: 300;
   }

   p {
    flex: 1;
   }
  }

  .intro-main-overview__item-image {
   width: auto;
   max-height: 28px;
  }
 }
}