.scroll {

 .scroll__title {
  transform: rotate(-90deg);
  color: rgba(255,255,255,0.6);
  font-family: Montserrat, sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 40px;
  text-transform: uppercase;
  letter-spacing: -0.31px;
 }

 .scroll-block {
  width: 24px;
  height: 40px;
  border-radius: 14px;
  border: 1px solid rgba(255,255,255,0.6);

  .scroll-block__line {
   width: 3px;
   height: 8px;
   border-radius: 14px;
   background-color: rgba(255,255,255,0.6);
   margin: 10px auto 0;
  }
 }
}